html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.showStatisticPopup {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.closeBtn {
  align-self: flex-end;
  width: 30px;
  height: 30px;
  color: #ffffff;
  background-color: transparent;
}

.showStatisticPopup {
  position: fixed;
  color: #f0f8ff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 300px;
  height: 350px;
  background-color: #131b1cd9;
  border-radius: 20px;
  padding: 5px 30px;
}

.wordCountBlock {
  font-size: 16px;
}

.graphContainer {
  display: flex;
  justify-content: center;
}

.graphBlock {
  width: 70px;
  height: 170px;
  border: 1px solid #ffffff;
  display: flex;
}

.graphActiveBlock {
  align-self: flex-end;
  width: 100%;
  background-color: #008596;
}